<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="initial-scale=1.0, width=device-width, viewport-fit=cover"
    />
    <link rel="shortcut icon" href="./png/icon.png" />
    <link rel="stylesheet" href="../styles/common_style.css" />
    <link rel="stylesheet" href="../styles/less.css" />
    <title>Over Less</title>
  </head>
  <body>
    <div class="balance_field block"></div>
    <a href="./main.html"><div class="home block"></div></a>
    <img src="../png/rabbit.png" alt="rabbit" />
    <div class="header block">Make a choice</div>

    <div class="wrapper block">
      <div class="main">
        <div class="outer_card block">
          <div class="card block" data-card="player">?</div>
        </div>
        <div class="circle_cont block">
          <div class="outer_circle block hidden"></div>
          <div class="circle block">
            <img src="../png/equal.png" alt="sign" />
          </div>
        </div>

        <div class="outer_card block">
          <div class="card block" data-card="bank"></div>
        </div>
      </div>

      <div class="control">
        <div class="big_button block even">EVEN</div>
        <div class="big_button block odd">ODD</div>
        <div class="inner_control">
          <div class="button block left">
            <img src="../png/arrow.png" alt="left" />
          </div>
          <div class="button block equal">
            <img src="../png/equal.png" alt="equal" />
          </div>
          <div class="button block right">
            <img src="../png/arrow.png" alt="equal" />
          </div>
        </div>
      </div>

      <div class="cf_cont">
        <span class="cf first">X2.1</span>
        <span class="cf">X2.25</span>
        <span class="cf">X121</span>
        <span class="cf">X2.25</span>
        <span class="cf last">X2.1</span>
      </div>

      <div class="bet_control">
        <div class="button block min">Min</div>
        <div class="button block minus">/2</div>
        <div class="button_cont">
          <div class="text block">BET</div>
          <div class="big_button block bet_amount">1</div>
        </div>
        <div class="button block plus">X2</div>
        <div class="button block max">Max</div>
      </div>
    </div>

    <script src="../scripts/less.js" type="module"></script>
  </body>
</html>
