<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="initial-scale=1.0, width=device-width, viewport-fit=cover"
    />
    <link rel="shortcut icon" href="./png/icon.png" />
    <link rel="stylesheet" href="../styles/common_style.css" />
    <link rel="stylesheet" href="../styles/level.css" />
    <title>Over Less</title>
  </head>
  <body>
    <img src="../png/man.png" class="man" alt="man" />
    <div class="balance_field block"></div>
    <a href="./main.html"><div class="home block"></div></a>

    <div class="wrapper block">
      <div class="header block">Choose a level</div>
      <div class="level_cont"></div>
    </div>
    <script src="../scripts/level.js" type="module"></script>
  </body>
</html>
