<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="initial-scale=1.0, width=device-width, viewport-fit=cover"
    />
    <link rel="shortcut icon" href="./png/icon.png" />
    <link rel="stylesheet" href="../styles/common_style.css" />
    <link rel="stylesheet" href="../styles/main.css" />
    <title>Over Less</title>
  </head>
  <body class="hidden">
    <img src="../png/man.png" alt="man" class="man" />
    <img src="../png/rabbit.png" alt="rabbit" class="rabbit" />
    <div class="balance_field block"></div>
    <div class="menu">
      <a href="./less.html"><div class="block link">More Less</div></a>
      <a href="./level.html"><div class="block link">Brainstorm</div></a>

      <div class="block shop">
        <div class="logo block">
          <img src="../png/cart.png" alt="cart" />
        </div>

        <div class="good first">
          <div class="amount" data-good="time">0</div>
          <div class="button block" data-good="time">10s</div>
          <div class="price block">
            <span>550</span>
            <img src="../png/currency.png" alt="currency" />
          </div>
        </div>

        <div class="good second">
          <div class="amount" data-good="loupe">0</div>
          <div class="button block" data-good="loupe">
            <img src="../png/loupe.png" alt="loupe" />
          </div>
          <div class="price block">
            <span>550</span>
            <img src="../png/currency.png" alt="currency" />
          </div>
        </div>
      </div>
    </div>
    <script src="../scripts/main.js" type="module"></script>
  </body>
</html>
