.text {
  width: 85%;
  height: 75%;
  overflow: scroll;

  font-family: "Livvic";
}

.button {
  width: 18%;
  height: 10vh;
  font-size: 3vw;
  background-image: url("../png/block.png");

  position: absolute;
  bottom: 5%;
  right: 5%;
}
